*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.flex-menus{
    display: flex;
    flex-direction: row;
}

.flex-container{
    display: flex;
    flex-direction: column;
    background-color: red;
}

.flex-container>div{
    margin: 10px;
    border: 10px solid black;
    padding: 10px;
    background-color: #ddd;
    box-sizing: content-box;
}

.header{
    padding: 60px;
    background-color: #1abc9c;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #359;
}

.navbar a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

a:hover{
    color: black;
    background-color: #ddd;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.side{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    /* box-sizing: border-box; */
}

.main{
    flex: 70%;
    background-color: papayawhip;
    padding: 20px;
    /* box-sizing: border-box; */
}

.footer{
    padding: 20px;
    background-color: #ddd;
    text-align: center;
}

@media screen and(max-width:700px) {
    .row,
    .navbar{
        flex-direction: column;
    }
}